################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
.pio
pio
.vscode
.pioenvs
.cache
build_output
firmware.map
firmware.asm
*.map
*.elf

binaries/prepare_release.bat

# ESP-IDF build output
build/
sdkconfig
sdkconfig.old
managed_components/
dependencies.lock

